@model Log

@{

}


    <form asp-controller="Hospital"
          asp-action="AddLog"
          method="post">

        <div class="form-group row">
            <div class="offset-sm-0 col-sm-6 ">
                <h2>Add Log</h2>
            </div>
        </div>

        <div class="form-group row row">
            <label class="control-label col-sm-3" asp-for="Patient_id">Select Patient : </label>
            <div class="col-sm-6">
                <select class="form-control col-4" asp-for="Patient_id"
                        asp-items="@((SelectList)ViewData["patient"])">
                    <option value="0" selected="selected">-- SELECT --</option>
                </select>

            </div>
            <div class="col-sm-4">
                <span asp-validation-for="Patient_id" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group row row">
            <label class="control-label col-sm-3" asp-for="Medicine_id">Select Medicine : </label>
            <div class="col-sm-6">
                <select class="form-control col-4" asp-for="Medicine_id"
                        asp-items="@((SelectList)ViewData["medicine"])">
                    <option value="0" selected="selected">-- SELECT --</option>
                </select>

            </div>
            <div class="col-sm-4">
                <span asp-validation-for="Medicine_id" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group row row">
            <label class="control-label col-sm-3" asp-for="Dosage_id">Select Dosage : </label>
            <div class="col-sm-6">
                <select class="form-control col-4" asp-for="Dosage_id"
                        asp-items="@((SelectList)ViewData["dosage"])">
                    <option value="0" selected="selected">-- SELECT --</option>
                </select>

            </div>
            <div class="col-sm-4">
                <span asp-validation-for="Dosage_id" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row row">
            <label class="control-label col-sm-3" asp-for="Booking_apppointment">Booking Appointment : </label>
            <div class="col-sm-4">
                <input asp-for="Booking_apppointment" class="form-control" placeholder="YYYY-MM-DD HH:MM" />
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="Booking_apppointment" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row row">
            <label class="control-label col-sm-3" asp-for="Case_notes">Case Notes : </label>
            <div class="col-sm-4">
                <textarea rows="8" cols="50" asp-for="Case_notes">
</textarea>
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="Case_notes" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row row">
            <label class="control-label col-sm-3" asp-for="Duration">Duration : </label>
            <div class="col-sm-4">
                <input asp-for="Duration" class="form-control" />
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row row">
            <label class="control-label col-sm-3" asp-for="Dosage_quantity">Dosage Quantity : </label>
            <div class="col-sm-4">
                <input asp-for="Dosage_quantity" class="form-control" />
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="Dosage_quantity" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row row">
            <label class="control-label col-sm-3" asp-for="Instructions">Instructions : </label>
            <div class="col-sm-4">
                <input asp-for="Instructions" class="form-control"  />
            </div>
            <div class="col-sm-4">
                <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="offset-sm-3 col-sm-6">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>

        @if (ViewData["Message"] != null)
        {
            <div class="form-group row">
                <div class="offset-sm-3 col-sm-6">
                    <div class="alert alert-@ViewData["MsgType"]">
                        <text>@Html.Raw(ViewData["Message"])</text>
                    </div>
                </div>
            </div>
        }

    </form>

