@model Prescription

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../dist/summernote-bs4.css">
<script type="text/javascript" src="../dist/summernote-bs4.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.summernote').summernote({
            height: 200,
            width: 500,
            placeholder: 'Enter here'
        });;
    });
</script>
<form asp-controller="Hospital"
      asp-action="AddPrescription"
      method="post">

    <div class="form-group row">
        <div class="offset-sm-0 col-sm-6 ">
            <h2>Add Prescription</h2>
        </div>
    </div>

    <div class="form-group row row">
        <label class="control-label col-sm-3" asp-for="Patient_id">Patient ID : </label>
        <div class="col-sm-6">
            <input asp-for="Patient_id" class="form-control" value="@ViewData["PatientNumber"]" readonly="readonly" />
        </div>
        <div class="col-sm-4">
            <span asp-validation-for="Patient_id" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row row">
        <label class="control-label col-sm-3" asp-for="Doctor_mcr">Doctor MCR : </label>
        <div class="col-sm-4">
            <input asp-for="Doctor_mcr" class="form-control" />
        </div>
        <div class="col-sm-4">
            <span asp-validation-for="Doctor_mcr" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row row">
        <label class="control-label col-sm-3" asp-for="Doctor_name">Doctor Name : </label>
        <div class="col-sm-4">
            <input asp-for="Doctor_name" class="form-control" />
        </div>
        <div class="col-sm-4">
            <span asp-validation-for="Doctor_name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-3" asp-for="Practicing_place_name">Practicing Place : </label>
        <div class="col-sm-5">
            <input class="form-control" asp-for="Practicing_place_name" />
        </div>
        <div class="col-sm-4">
            <span asp-validation-for="Practicing_place_name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row row">
        <label class="control-label col-sm-3" asp-for="Practicing_address">Practicing Address : </label>
        <div class="col-sm-5">
            <input class="form-control" asp-for="Practicing_address" />
        </div>
        <div class="col-sm-3">
            <span asp-validation-for="Practicing_address" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row row">
        <label class="control-label col-sm-3" asp-for="Medicine_id">Select Medicine : </label>
        <div class="col-sm-6">
            <select class="form-control col-8" asp-for="Medicine_id"
                    asp-items="@((SelectList)ViewData["medicine"])">
                <option value="0" selected="selected">-- SELECT --</option>
            </select>

        </div>
        <div class="col-sm-4">
            <span asp-validation-for="Medicine_id" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group row row">
        <label class="control-label col-sm-3" asp-for="Dosage_id">Select Dosage : </label>
        <div class="col-sm-6">
            <select class="form-control col-8" asp-for="Dosage_id"
                    asp-items="@((SelectList)ViewData["dosage"])">
                <option value="0" selected="selected">-- SELECT --</option>
            </select>

        </div>
        <div class="col-sm-4">
            <span asp-validation-for="Dosage_id" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row row">
        <label class="control-label col-sm-3" asp-for="Booking_appointment">Booking Appointment : </label>
        <div class="col-sm-4">
            <input asp-for="Booking_appointment" class="form-control" placeholder="YYYY-MM-DD HH:MM" />
        </div>
        <div class="col-sm-4">
            <span asp-validation-for="Booking_appointment" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row row">
        <label class="control-label col-sm-3" asp-for="Case_notes">Case Notes : </label>
        <div class="col-sm-8">
            <textarea rows="8" cols="50" asp-for="Case_notes" class="summernote">
</textarea>
        </div>
        <div class="col-sm-4">
            <span asp-validation-for="Case_notes" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row row">
        <label class="control-label col-sm-3" asp-for="Duration">Duration : </label>
        <div class="col-sm-4">
            <input asp-for="Duration" class="form-control" />
        </div>
        <div class="col-sm-4">
            <span asp-validation-for="Duration" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row row">
        <label class="control-label col-sm-3" asp-for="Dosage_quantity">Dosage Quantity : </label>
        <div class="col-sm-4">
            <input asp-for="Dosage_quantity" class="form-control" />
        </div>
        <div class="col-sm-4">
            <span asp-validation-for="Dosage_quantity" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row row">
        <label class="control-label col-sm-3" asp-for="Instructions">Instructions : </label>
        <div class="col-sm-8">
            <textarea rows="8" cols="65" asp-for="Instructions"></textarea>
        </div>
        <div class="col-sm-4">
            <span asp-validation-for="Instructions" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-sm-3 col-sm-6">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>

    @if (ViewData["Message"] != null)
    {
        <div class="form-group row">
            <div class="offset-sm-3 col-sm-6">
                <div class="alert alert-@ViewData["MsgType"]">
                    <text>@Html.Raw(ViewData["Message"])</text>
                </div>
            </div>
        </div>
    }

</form>

