@model List<Category>

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>
@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}

<span style="color:red">@TempData["Msg"]</span>
<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th scope="col" width="20%">Category ID</th>
            <th scope="col" width="20%">Category Name</th>
        </tr>
    </thead>
    @foreach (Category b in Model)
    {
        <tbody>
            <tr scope="row">
                <td width="20%">@b.Category_type</td>
                <td width="20%">@b.Category_name</td>
            </tr>
        </tbody>
    }
</table>