@model Queue
<h2><span style="color:white; visibility:hidden">Test</span></h2>
@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}
<form asp-controller="Hospital"
      asp-action="ShowWaitingDuration"
      method="post">

    <div class="form-inline">
        <div class="form-group col-sm-4">
            <label class="control-label offset-sm-6" asp-for="Waiting_minutes">Waiting Time (in hours) : </label>
        </div>
        <div class="form-group col-sm-3">
            <input asp-for="Waiting_minutes" class="form-control" />
        </div>
        <input type="submit" value="Submit" class="btn btn-primary" />
        <div class="form-group col-sm-4">
            <span asp-validation-for="Waiting_minutes" class="text-danger"></span>
        </div>

        @if (ViewData["Message"] != null)
        {
            <div class="form-group row">
                <div class="offset-sm-3 col-sm-6">
                    <div class="alert alert-@ViewData["MsgType"]">
                        <text>@Html.Raw(ViewData["Message"])</text>
                    </div>
                </div>
            </div>
        }
    </div>
</form>