@model Queue
@{
    int queue = (int)ViewData["QueueNumber"];
}

<body>
    <h2><span style="color:white; visibility:hidden">Test</span></h2>
    <div class="container">
        <center>
            <div class="card" style="width:350px; height:220px">
                <div class="card-body">
                    <h5 class="card-title text-left">Queue Number is:</h5>
                    <h1 class="card-title">
                        <input asp-for="Queue_id" class="form-control" value="@queue" readonly="readonly" />
                    </h1>
                    <p class="card-text text-left">*Queue no. may not be called in running sequence.</p>
                    <form asp-controller="Hospital"
                          asp-action="PackStatus"
                          method="get">
                        <div class="form-group row">
                            <div class="offset-sm-3 col-sm-6">
                                <input type="submit" value="Proceed" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                    <br />
                </div>
            </div>
        </center>
    </div>
</body>