@{
    int patient = (int)ViewData["QueueNumber"];
}

<body>
    <h2><span style="color:white; visibility:hidden">Test</span></h2>
    <div class="container">
        <center>
            <div class="card" style="width:350px; height:205px">
                <div class="card-body">
                    <h5 class="card-title text-left">Queue Number is:</h5>
                    <h1 class="card-title">
                        @patient
                    </h1>
                    
                </div>
            </div>
        </center>
    </div>
</body>