

@{
    ViewBag.Title = "Index";
}

<h2><span style="color:white; visibility:hidden">Test</span></h2>
@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}
<table class="table table-borderless">
    <tr scope="row">
        <td width="20%"><a href="/Hospital/AddPatient"><img src="~/images/register.png" /></a></td>
        <td width="20%"><a href="/Hospital/AddPrescription"><img src="~/images/presystem.png" /></a></td>
        <td width="20%"><a href="/Hospital/AddLog"><img src="~/images/packstatus.png" /></a></td>
    </tr>
    <tr scope="row">
        <td width="20%" align="center" style="font-size:larger">Register Patient</td>
        <td width="20%" align="center" style="font-size:larger">Add Prescription</td>
        <td width="20%" align="center" style="font-size:larger">Add Log</td>
    </tr>
    <tr scope="row">
        <td width="20%"><a href="/Hospital/DoPayment"><img src="~/images/payment.png" /></a></td>
        <td width="20%"><a href="/Hospital/Medicines"><img src="~/images/inventory.png" /></a></td>
    </tr>
    <tr scope="row">
        <td width="20%" align="center" style="font-size:larger">Do Payment</td>
        <td width="20%" align="center" style="font-size:larger">Medicine Inventory</td>
    </tr>
</table>
