<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hospital</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/">

    @RenderSection("MoreScripts", false)

</head>
<body>
    <div class="row">
        <div class="col-2" style="background-color: #21a245;">
            <img src="~/images/RP.png" style="width:100%" />
            <center>
                <img src="~/images/585e4beacb11b227491c3399.png" style="width:80%" />
                @if (User.Identity.IsAuthenticated)
                {
                    <h4 style="color:azure;">Welcome<br />@User.Identity.Name</h4>
                    <h4 class="text-center text-primary">
                        <a asp-controller="Account" asp-action="Logoff" asp-route-returnUrl="Hospital">Logout</a>
                    </h4>
                }
            </center>
        </div>
        <div class="col-10">
            <div class="row">
                <nav class="navbar navbar-expand-lg col-12" style="background-color: #21a245;" role="navigation">
                    <a class="navbar-brand" asp-action="Index" style="color:azure">One Stop RP-MED</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" asp-action="Index" style="color:azure">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:azure">
                                    Check
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-action="CheckDispensaryStatus">Check Dispensary Status</a>
                                    <a class="dropdown-item" asp-action="CheckWaitingDuration">Check Waiting Duration</a>
                                </div>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" target="_blank" asp-action="QueueCategories" style="color:azure">Queue Categories Classification</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:azure">
                                    Actions
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-controller="Actions" asp-action="CleanAll" onclick="return confirm('Clear All (This means you are clearing all the records in tables such as patient, queue, log and prescription)')">Clear All</a>
                                    <a class="dropdown-item" asp-controller="Actions" asp-action="CleanMainQueue" onclick="return confirm('Clear Main Queue (This means you are clearing all the records in tables such as patient and queue)')">Clear Main Queue</a>
                                    <a class="dropdown-item" asp-controller="Actions" asp-action="CleanMedicineBatch" onclick="return confirm('Clear Medicine Inventory (This means you are clearing all medicines in table medicine)')">Clear Medicine Inventory</a>
                                </div>
                            </li>
                        </ul>

                    </div>
                </nav>
            </div>
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid" style="background-color: #21a245;">
            <center><br /><span class="text-white" style="font-size:larger;">&copy; One Stop RP-Med Dispensing Software</span><br /><br /><br /></center>
        </div>
    </footer>

</body>
</html>